
@{
    ViewData["Title"] = "ImageSave";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}

<h2>aaaa</h2>
<h2>aaaa</h2>
<h2>aaaa</h2>
<h2>aaaa</h2>
<h2>aaaa</h2>
<h2>aaaa</h2>
<h2>aaaa</h2>
<h2>aaaa</h2>
<h2>aaaa</h2>
<h2>aaaa</h2>
<h2>aaaa</h2>

